@media (max-width: 400px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .nav {
        height: 300px;
        width: 100%;
        background-color: whitesmoke;
    }

    .logo {
        height: 100px;
        width: 100%;
        line-height: 100px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    #logotext:hover {
        color: orangered;
    }

    .list {
        height: 100px;
        width: 100%;

        position: relative;
    }

    .mainli {
        position: relative;
        left: 25px;
        list-style: none;
        display: inline-flex;
        line-height: 100px;
    }

    .li {
        margin: 0px 15px 0px 15px;
        font-size: 12px;
        color: gray;
    }

    .li :hover {
        color: red;
    }

    .button {
        line-height: 100px;
        width: 100%;
        text-align: center;
    }

    .but1 {
        height: 60px;
        width: 50%;
        font-size: large;
        background-color: orangered;
        color: white;
        border: 0px;
        border-radius: 10px;
    }

    .but1:hover {
        background-color: darkred;
    }

    .main {
        width: 100%;
        height: auto;
    }

    .bggif {
        position: sticky;
    }

    #vid1 {
        position: relative;
        width: 100%;
        height: 400px;
        opacity: .8;
    }

    .maintext {
        position: absolute;
        width: 100%;
        height: 400px;
        top: 300px;

    }

    .text1 {
        position: relative;
        /* top: 100px; */
        font-size: 30px;
        /* left: 100px; */
        color: white;
        /* width: 50%; */
        text-align: center;
        height: 400px;
        margin: 0px;
        padding: 0px;
    }

    #subtext1 {
        position: relative;
        left: 0px;
        top: 100px;
        text-shadow: 7px 2px 5px black;
    }

    .text2 {
        position: absolute;
        top: 250px;
        left: 20px;
        color: chocolate;
        text-shadow: 5px 2px 5px gray;
        margin-top: 20px;
        text-align: center;
    }

    .poster {
        position: absolute;
        float: left;
        width: 50%;
        height: 600px;
        top: 100px;
        left: 50%;
        visibility: hidden;
    }

    .artical {
        height: 100px;
        width: 100%;
        text-align: center;
        line-height: 100px;
        left: 0%;
        font-size: 40px;
    }

    .pictures {
        height: 1200px;
        width: 100%;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    .subdiv1 {
        position: relative;
        width: 80%;
        height: 400px;
        margin: 0% 10%;
    }

    .subtext1 {
        position: relative;
        height: 100px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        line-height: 100px;
        margin-top: 0px;
        color: gray;
        font-size: 15px;
    }

    #pic1 {
        height: 300px;
        width: 100%;
    }

    .subdiv2 {
        position: relative;
        width: 80%;
        height: 400px;
        margin: 0% 10%;
    }

    .subtext2 {
        position: relative;
        height: 100px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        line-height: 100px;
        margin-top: 0px;
        color: gray;
        font-size: 15px;
    }

    .pic2 {
        height: 300px;
        width: 100%;
    }

    .subdiv3 {
        position: relative;
        width: 80%;
        height: 400px;
        margin: 0% 10%;
    }

    .subtext3 {
        position: relative;
        height: 100px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        line-height: 100px;
        margin-top: 0px;
        color: gray;
    }

    #pic3 {
        height: 300px;
        width: 100%;
    }

    .footer {
        height: 1000px;
        width: 100%;
        position: relative;
        margin-top: 0px;
        padding: 0%;
    }

    #footimg {
        height: 250px;
        width: 100%;
        opacity: .8;
    }

    .footmain {
        height: 750px;
        width: 100%;
        position: relative;
        top: 0px;
    }

    .footsub1 {
        height: 250px;
        width: 100%;
        position: relative;
        color: gray;
        margin: 0%;
        display: flex;
    }

    #foottext1 {
        position: relative;
        /* line-height: 500px; */
        left: 10px;
        top: 0px;
        text-shadow: none;
    }

    .footsub2 {
        height: 250px;
        width: 100%;
        position: relative;
        color: gray;
        margin: 0%;
        display: flex;
    }

    #foottext2 {
        position: relative;
        /* line-height: 500px; */
        left: 10px;
        top: 0px;
        text-shadow: none;
        height: 230px;
        margin-top: 20px;
    }
    .footsub3 {
        height: 250px;
        width: 100%;
        position: relative;
        color: gray;
        margin: 0%;
    }
    #foottext3 {
        position: relative;
        top: 10px;
        text-shadow: none;
        left: 20px;
    }
}