* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  body {
    font-family: Arial;
    margin: 0;
    background-color: red;
  }
  @media screen and (max-width: 600px) {

    .topnav a {
      width: 100%;
    }
  }

.logo-img {
  height: 70px;
  width: 140px;
  padding: 0px;
}
.nav {
  height: 40px;
  margin-top: 20px;
}
.img {
  background-image: url(demo-1.jpg);
    height: 400px;
    width: 100%;
    position: relative;
    padding-left: 40px;
}
.main-box {
  background-color: white;
  border-radius: 20px;
}
.box-2 {
 padding: 20px;
 font-size: large; 
}
#one-way {
  border: 1px;
  border-radius: 10px;
}
.textOnInput {
  position: relative;
}

.textOnInput label {
  position: absolute;
  top: -15px;
  left: 23px;
  padding: 2px;
  z-index: 1;
}

.textOnInput label:after {
  content: " ";
  background-color: #fff;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

label {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  box-shadow: none !important;

}
.b1{
  height:70px;
}
form {
  margin: 20px;
  /* font-size: small; */
  font-weight: 500;
}

.btn1 {
  background-color: orangered;
  width: 30%;
  text-align: center;
  border-radius: 50px;
  color: white;
  border: 0px;
  padding: 10px;
  font-weight: bold;
  }
.btn1:hover {
  background-color: rgb(231, 126, 6);
}
.label {
  background-image: url(label2.jpg);
  height: 110px; 
}


.img2 {
  background-image: url(Bg.jpg);
  height: auto;
  width: 100%;
  position: relative;
  padding-left: 40px;
}

.triangle {
  margin-left: 3px;
  margin-top: 8px;
  border-right: 3px solid; 
  border-bottom: 3px solid;
  height: 10px;
  width: 10px;
  transform: rotate(-45deg);
}
.p1 {
  background-color: #FFD580;
}
.deals-banner {
  height: 120px;
}
#deal {
  height: 100px;
  margin-top: 15px;
  margin-left: 40px;
}
.main-box2 {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}
.foot {
  opacity: 0.7;
  
}
.foot:hover {
  opacity: 0px;
}